# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# OS files
.DS_Store
Thumbs.db

# data files (if you want to regenerate)
data/processed/

#  model files and results
experiments/models/
experiments/results.csv

# Logs
*.log
