# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Data (processed or temporary)
data/processed/

# Models and experiment outputs
experiments/models/*
!experiments/models/RandomForest_tuned_final_full.joblib
experiments/results.csv
experiments/test_classification_report.csv
experiments/tuning_results.csv

# Logs
*.log
